/* Add this to your existing CSS or create a new file (e.g., ContentCard.css) */
.content-section {
    background-color: #f9f9f9; /* Set a background color for the content section */
    padding: 50px 0; /* Adjust the padding as needed */
  }
.content-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    h3 {
      margin-top: 10px;
      font-size: 1.5rem;
      color: #333;
    }
  
    p {
      color: #666;
    }
  
    .card-icon {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #61dafb; /* Choose a suitable icon color */
    }
  }
